In [ ]:
Q1. How do you comment code in Python? What are the different types of comments?

In [ ]:
#We comment code in python by # or """ ()""" and To comment out multiple lines in Python, we triple quotes
( “”” “””)  or add a hash sign (#) at the beginning for simngle line however # can be used for multiple lines 
#but we need to use it in every single line in begining for single-line comments.

#for ex 
#Ram is a guy9( """use for single lines however can be used for multiple lines as well but need to use in 
    every single line""")
"""We love to study"""( "best for multiple lines")

In [ ]:
Q2. What are variables in Python? How do you declare and assign values to variables?

In [ ]:
"""A Python variable is a symbolic name that is a reference or pointer to an object. 
Once an object is assigned to a variable, you can refer to the object by that name. 
For example: A= (" rohitRana")

We can not declare variable as python has no command for it however we can assign value to varibale 
for ex V=(300) here = is  used to assign a value to the variable."""

In [4]:
v= (300)

In [5]:
v

300

In [ ]:
#Now you can see above v = 300

In [ ]:
Q3. How do you convert one data type to another in Python?

In [ ]:
"""I would like to inform you that all data type can not be changed or convert 
as if the data type is mutable than it can be converted to another however if data type
is immutable than it can not be converted.

Mutable data type- List, Set, Dictionary
Immutable data type- tuples, int, str, float"""

In [ ]:
Q4. How do you write and execute a Python script from the command line?

In [ ]:
"""First need to open command prompt
1) first writw py
2)print("Hello World")
3) hit the ENTER button from the keyboard, and that's it."""

In [ ]:
Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [1]:
my_list = [1, 2, 3, 4, 5]

In [2]:
my_list

[1, 2, 3, 4, 5]

In [27]:
my_list[]

[1, 5]

In [31]:
x =[ 1,2,3,4,5]

In [35]:
x[1:3]

[2, 3]

In [ ]:
Q6. What is a complex number in mathematics, and how is it represented in Python?

In [ ]:
"""A complex number is the sum of a real number and an imaginary number. A complex number is expressed in standard form when written a+bi where a is the real part and bi is the imaginary part. 
For example, 5+2i is a complex number.

In python we represent complex number 34+5j"""

In [36]:
c= 34+5j

In [37]:
type(c)

complex

In [ ]:
Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [39]:
#The corect way is that we need to use age as variable which contains value 25.

age=25 #here (=) is used to assign value(25) to variable(age).

In [40]:
age

25

In [ ]:
Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [41]:
price =9.99

In [42]:
type(price)

float

In [ ]:
#it belongs to float type variable.

In [ ]:
Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [44]:
name= ("Rohit Rana")
for i in name:
    print(i)

R
o
h
i
t

R
a
n
a

In [ ]:
Q10. Given the string "Hello, World!", extract the substring "World".

In [46]:
string = ("Hello, World!")

In [52]:
string [6:12]

' World'

In [ ]:
Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [12]:
value=1
is_student= int(input("enter value"))
if value == 1: 
    print("True")
else:
    print("False")

enter value 1

True